<style>
  .hello-msg{
    font-size: 20px;
    color: #ffffff;
    margin-right: 20px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if request.user.is_staff %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'main' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'products' %}">Products</a>
      <li class="nav-item">
        <div class="dropdown">
        <a class="btn dropdown-toggle text-white" role="button" href="{% url 'profile' %}"id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile Page</a>
                <a class="dropdown-item" href="{% url 'profile_settings' %}">Profile Settings</a>
            </div>
        </div>
      </li>
    </ul>
  </div>
  <span class="hello-msg">Hello, {{request.user}}</span>
  <span class="hello-msg">
      <a href="{% url 'logout' %}" style="color: white">Logout</a>
  </span>
</div>
</nav>