{% extends 'crm_retail/main.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
<br>
    <div class="row">
        <div class="col">
        <div class="card card-body">
             <a class="btn btn-warning" href="{% url 'profile' %}">&#8592;Back to Profile</a>
             <hr>
            <h3 style="text-align: center">Account Settings</h3>
            <hr>
        </div>
        </div>
        <div class="col">
            <label class="card card-body">

                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col">
                    <label class="form-inline"><span>First name:&nbsp;</span>{{ form.first_name }}<span>&nbsp; Last name:&nbsp; </span> {{ form.last_name }}</label>
                        </div>
                    <div class="col">
                    <label class="form-inline">Phone Number:&nbsp;{{ form.phone_number }}&nbsp; Mail:&nbsp;{{ form.mail }}</label>
                    </div>
                    <input class="btn btn-primary" type="submit" name="Update Information">
                </form>
            </label>
            </div>
        </div>

    </div>

<br>
</div>
{% endblock %}

