
#total-orders{
    background-color: #427EE3
    }
#orders-pending{
    background-color: #75961d
    }
#orders-delivered{
    background-color: #E65139
    }

.hello-msg{
    font-size: 10px;
    color: #ffffff;
    margin-right: 20px;
}