
#total-orders{
    background-color: #66e0ff
    }
#orders-pending{
    background-color: #80ff80
    }
#orders-delivered{
    background-color: #ff6666
    }

.hello-msg{
    font-size: 10px;
    color: #ffffff;
    margin-right: 20px;
}